<% if @breed && @image_url %>
  <% if @status == 'success' %>
    <h1><%= @breed %></h1>
  <% else %>
    <h1>Ohh, little maltese is sad because we don't have <%= @breed %> images in our database</h1>
  <% end %>

  <p><%= image_tag(@image_url) %></p>
<% end %>
